*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(26, 15, 20);
    font-family: 'Noto Sans Mono', monospace;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    color: rgb(197, 171, 231);
    padding: 15px;
}
div{
    background: transparent;
    width: 50%;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;



}
button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px black;
}
p{
    margin: 3px;
    opacity: 100%;
}